body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0px;
    justify-content: space-evenly;
}

div.menu-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

div.menu-grid>div {
    padding: 10px 35px;
    border: none;
}

span.label {
    font-size: 12px;
    color: #8e8e8e;
}

div.menu-grid>div>i {
    color: #2e2e2e;
    font-size: 1.2em;
    margin-bottom: 5px;
}

div.menu-grid>div>i.active {
    color: #d51600;
}

div.rounded-bg {
    background: #d9d9d9;
    border-radius: 50px;
}

div.grey-bg {
    background: #d9d9d9;
    border-radius: 50%;
}

i.home-icon {
    font-size: 24px;
    color: #a1a1a1;
}

i.control-icon {
    font-size: 24px;
    color: #2e2e2e;
}

div.circle {
    border: 1px solid lightgray;
    border-radius: 50%;
}

div.ok-inner {
    padding: 8px;
}

div.ok-outer {
    padding: 100px;
    z-index: -1;
}

form.right {
    transform: translate(73px);
    position: absolute;
}

form.bottom {
    transform:  translate(0, 73px);
    position: absolute;
}

form.left {
    transform: rotate(180deg) translate(73px);
    position: absolute;
}

form.top {
    transform: rotate(270deg) translate(73px);
    position: absolute;
}

button:not(.wheel *) {
    border: none;
    border-radius: 50px;
    padding: 10px;
    background: rgb(235, 235, 235);
    transition: all 0.2s;
}


.wheel button {
    border: none;
    border-radius: 50px;
    padding: 30px;
    background: none;
    transition: all 0.2s;
}

.wheel button:active, button:not(.wheel *):active {
    background: lightgray;
    transition: all 0.2s;
}