body {
    background: white;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

button {
    width: 100%;
    height: 100vh;
    background: white;
    border: none;
    transition: all 0.2s;
}

button:active {
    background: lightgray;
    transition: all 0.2s;
}